.vs/ReusableUsefullStuff/DesignTimeBuild/
.vs/ReusableUsefullStuff/v15/
Extensions/obj/
Sandbox/bin/
Sandbox/obj/
Extensions/bin/
Extensions.IQueryable.Tests/obj/
Extensions.IQueryable.Tests/bin/
Extensions.IEnumerable.Tests/bin/
Extensions.IEnumerable.Tests/obj/
Extensions.IEnumerable/bin/
Extensions.IEnumerable/obj/
Extensions.IQueryable/obj/
Extensions.IQueryable/bin/
